body {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  background-image: url("../assets/baackground.svg");
  background-size: cover; /* Cover the entire viewport */
  background-repeat: no-repeat; /* Do not repeat the image */
  /* background-position: center;  */
}
