.down-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  gap: 15rem;
}
.mac-class-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  gap: 15rem;
}
.fliper {
  /* position: relative; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 27rem;
  margin-left: 5rem;
  color: white;
}
.car-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* margin-right: 5rem; */
  margin-left: -4.8rem;
  margin-bottom: 5rem;
  z-index: 999;
}
.phone-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -51rem;
  margin-left: 2rem;
  z-index: 0;
}
.images-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 37rem;
  margin-top: 5rem;
}
.mac-class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 30rem;
  margin-top: 10rem;
}
.new-classname {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 13.7rem;
  margin-top: 0;
}
.flip {
  --fcc-flip-duration: 0.5s !important; /* transition duration when flip card */
  --fcc-digit-block-width: 3.3rem !important; /* width of digit card */
  --fcc-digit-block-height: 5.5rem; /* height of digit card, highly recommend in even number */
  --fcc-digit-font-size: 4rem !important; /* font size of digit */
  --fcc-digit-color: white !important; /* color of digit */
  --fcc-label-font-size: 1rem !important; /* font size of label */
  --fcc-label-color: #ffffff !important; /* color of label */
  /* --fcc-background:  linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,1) 100%); background of digit card */
  --fcc-background: linear-gradient(
    to bottom,
    rgba(112, 112, 112, 0.9) 0%,
    /* rgb(89, 89, 89, 0.9) 12%, */ /* rgb(102, 102, 102, 0.9) 25%, */
      rgb(71, 71, 71, 1) 39%,
    /* #2c2c2c 50%, */ #000000 51%,
    #111111 60%,
    /* #2b2b2b 76%, */ #1c1c1c 91%,
    #131313 100%
  ) !important;
  --fcc-divider-color: white !important; /* color of divider */
  --fcc-divider-height: 0px !important; /* height of divider */
  --fcc-separator-size: none !important; /* size of colon */
  --fcc-separator-color: ; /* color of colon */
}
