.ridees-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 4rem;
  /* position: absolute; */
  color: white;
  z-index: 0;
  margin-top: 8rem;
  margin-left: 5rem;
}
.header-cno {
  font-size: 3rem;
  color: #f4bc58;
}
.mac-class-text {
  font-size: 3rem;
  color: #f4bc58;
}
.new-windos {
  font-size: 2.3rem;
  color: #f4bc58;
}
